.head {
    text-align: center; 
    text-decoration: none;
    position: relative;

}
.list-button{
    text-decoration: none;
    color: black;

}
.home-button{
    text-decoration: none;
    color: black;

}
body{
    background-color: rgb(253, 227, 165);
}
.gambar{
    width: 500px;
    text-align: center;
} 